.overlay
%nav.sidenav
  = link_to :root do
    = image_tag 'logo.png', alt: 'Tigairo Logo', class: 'logo-navbar'
  %button.nav-burger#navbar-toggle{ data: { target: '.navbar-list' }}
    %i.fas.fa-bars
  %ul.navbar-list
    %button#navbar-close{ data: { target: '.navbar-list' }}
      x
    %h2
      = link_to :root do
        = image_tag 'logo.png', alt: 'Tigairo Logo', class: 'logo-navbar'
    %li.nav-link
      = link_to posts_url, class: 'section-title-info' do
        = image_tag 'globeicon.png', class: 'icon'
        ここでの「ふつう」
    %li.nav-link
      = link_to posts_url, class: 'section-title-info' do
        = image_tag 'mapicon.png', class: 'icon'
        おすすめスポット
    %li.nav-link
      = link_to posts_url, class: 'section-title-info' do
        = image_tag 'commenticon.png', class: 'icon'
        今日のひとこと
    %li.nav-link
      -if user_signed_in?
        = link_to current_user, class: 'section-title-info' do
          = image_tag 'default.png', class: 'icon'
          プロフィール
      -else
        = link_to new_user_session_path, class: 'section-title-info' do
          = image_tag 'default.png', class: 'icon'
          Log in


