.post-container
  -if policy(post).edit?
    .post-change-buttons
      %button#open-modal{"data-target" => "#form-modal#{post.id}", "data-toggle" => "modal", :type => "button"}
        Edit
      =link_to post ,method: :delete, data: { confirm: 'Are you sure?' } do
        .fas.fa-trash
  -if post.photo.url
    .content-box
      .post-body
        %p.post-date
          = l(post.created_at.to_date)
        %h4.post-title
          = post.title
        .post-block.post-block-show
          .post-image-box
            = image_tag post.photo.url, class: 'post-img'
          .post-block-inputs
            = render partial: 'users/user_info', locals: { user: post.user, post: post }
        %p.post-content
          = post.content
  -else
    .content-box.post
      .post-body
        %p.post-date
          = l(post.created_at.to_date)
        %h4.post-title
          = post.title
        .post-block-show.post-block-simple
          .post-floats
            = render partial: 'users/user_info', locals: { user: post.user, post: post }
          %p.post-content
            = post.content
  .posts-extras-box
    .post-extras
      .trigger-buttons
        %a.collapsable{ data: { target: "#comment-box#{post.id}" } }
          = "Comment #{post.comments.count}"
        -if user_signed_in? && post.reactions.find_by(user: current_user)
          %a.reactions-toggler.reacted{ data: { target: "#reactions-box#{post.id}" } }
            %i.far.fa-smile-beam
            = post.reactions.count
        -else
          %a.reactions-toggler{ data: { target: "#reactions-box#{post.id}" } }
            %i.far.fa-smile-beam
            = post.reactions.count

      .hidden-content.comments-container{ id: "comment-box#{post.id}"}
        .read-comments-section
          = render partial: 'comments/index', locals: { comments: post.comments }
        = render partial: 'comments/post_comment', locals: { post: post }
      .reactions-container{ id: "reactions-box#{post.id}" }
        = render partial: 'reactions/react', locals: { target: 'post', post: post, reaction: @reaction }

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalCenterTitle", :role => "dialog", :tabindex => "-1", id: "form-modal#{post.id}" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        =render partial: 'posts/form', locals: { post: post }
