.post-container
  -if post.photo.url
    .content-box
      .post-body
        %p.post-date
          = l(post.created_at.to_date)
        %h4.post-title
          = post.title
        .post-block.post-block-show
          .post-image-box
            = image_tag post.photo.url, class: 'post-img'
          .post-block-inputs
            = render partial: 'users/user_info', locals: { user: post.user }
        %p.post-content
          = post.content
  -else
    .content-box.post
      .post-body
        %p.post-date
          = l(post.created_at.to_date)
        %h4.post-title
          = post.title
        .post-block-show.post-block-simple
          .post-floats
            = render partial: 'users/user_info', locals: { user: post.user }
          %p.post-content
            = post.content
  .posts-extras-box
    .post-extras
      .trigger-buttons
        %a.collapsable{ data: { target: "#comment-box#{post.id}" } }
          = "Comment #{post.comments.count}"
        %a.reactions-toggler{ data: { target: "#reactions-box#{post.id}" } }
          %i.far.fa-smile-beam
          = post.reactions.count

      .hidden-content.comments-container{ id: "comment-box#{post.id}"}
        = render partial: 'comments/new', locals: { post: post }
        = render partial: 'comments/index', locals: { comments: post.comments }
      .reactions-container{ id: "reactions-box#{post.id}" }
        = render partial: 'reactions/react', locals: { target: 'post', post: post, reaction: @reaction }


    -post.reactions.each do |reaction|
      =reaction.reaction_tag.name
